.mb-3 {
    /* border: 1px solid; */
    border-radius: 9px;
    height: 250px;
    padding: 20px 10px;
    box-shadow: 10px 10px 21px -5px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 21px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 21px -5px rgba(0,0,0,0.75);
}
select {
    border: none;
    border-bottom: 1px solid yellowgreen;
}

.firstSourate, .endSourate{
    padding: 20px 0;
}

h2 {
    padding: 20px 0 0 0;
}

h3 {
    margin-bottom: 45px;
}

/* .pageSuivante{
    padding: 20px; 
} */
