body {
   background-image: url('../../assets/background_2.png'); 
   background-size: cover;
    
}

.human {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    max-width: 280px;
    height: 126px;
    border:2px solid black;
    margin: 91px auto 20px;
     background-color: WHITE; 
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    z-index: -1;
    
    
}

.human::before {
    display: block;
    
    content:'';
    position:absolute;
     width: 110px;
height: 110px; 
 border-radius: 50%; 
 bottom: 88px;
 left: 80px;
 /* border: 1px solid black; */
background-image: url('../../assets/mk.jpg');
 background-size: cover; 
background-position: center;

}

.assidu {
    display: flex;
    text-align: center;
    flex-direction: column;
    
}


 p.revision {
    text-align: start;
    
} 

.suivThird {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 50px;   
}

.preThird {
    padding: 4px 6px;
    border:2px solid #5E6EC5;
    border-radius: 5px;
    background-color: transparent;
}


/* 
.image {
position: relative;
display: block;
width: 80px;
height: 80px;
border-radius: 50%;
border:1px solid black;
margin: 0 auto;
bottom: 40px;
 z-index: 1000; 

} */